<a href="https://colab.research.google.com/github/GouriManoj/Class-Assignment-1---Getting-Started-with-Python-Programming/blob/master/Programming_Exercise_Session_18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Write a Python program to get the largest number from a list

In [ ]:
def max_num_in_list( list ):
    max = list[ 0 ]
    for a in list:
        if a > max:
            max = a
    return max

In [ ]:
print(max_num_in_list([1, 2, -8, 0, 3, 3]))

3

#Write a Python code to search an element in a list.

In [ ]:
def Sequential_Search(dlist, item):
    pos = 0
    found = False
    
    while pos < len(dlist) and not found:
        if dlist[pos] == item:
            found = True
        else:
            pos = pos + 1
    
    return found, pos

In [ ]:
print(Sequential_Search([11,23,58,31,56,77,43,12,65,19],31))

(True, 3)

#Write a Python program to sum all the items in a list

In [ ]:
def sum_list(items):
    sum = 0
    for x in items:
        sum += x
    return sum
print(sum_list([1,2,4,8]))

15

#Write a Python program to remove duplicates from a list

In [ ]:
def Remove(duplicate): 
	final_list = [] 
	for num in duplicate: 
		if num not in final_list: 
			final_list.append(num) 
	return final_list 
	
duplicate = [10,20,30,20,10,50,60,40,80,50,40]
print(Remove(duplicate))

[10, 20, 30, 50, 60, 40, 80]

#Write a Python function that takes two lists and returns True if they have at least one common member.

In [ ]:
def data(list1, list2):
     result = False
     for x in list1:
         for y in list2:
             if x == y:
                 result = True
                 return result
print(data([1,2,3,4,5], [5,6,7,8,9]))
print(data([1,2,3,4,5], [6,7,8,9]))

True
None

#Write a Python program to append a list to the second list.

In [ ]:
list1 = [1, 2, 3, 0]
list2 = ['Red', 'Green', 'Black']
final_list = list1 + list2
print(final_list)

[1, 2, 3, 0, 'Red', 'Green', 'Black']

#Write a Python program to check if a given number is a composite number or not?

In [ ]:
def composite(n): 

  factor=0
  for i in range(1,n):
    if n%i==0:
      factor=i
  if factor>1:
    print ('The number is a composite number!')
  elif n==1:
    print ('The number 1 is neither prime nor composite!')
  else:
    print ('This is not a composite number!')

In [ ]:
composite(1)

The number 1 is neither prime nor composite!

In [ ]:
composite(2)

This is not a composite number!

In [ ]:
composite(3)

This is not a composite number!

In [ ]:
composite(4)

The number is a composite number!

In [ ]:
def composite(n): 
  factor=0
  print("n:",n)
  for i in range(1,n):
    print("i:",i)
    if n%i==0:
      print("Inside if loop")
      factor=i
      print("Factor:",factor)
  print("After for loop: Value of factor",factor)
  if factor>1:
    print (n,' is a composite number!')
  elif n==1:
    print ('The number 1 is neither prime nor composite!')
  else:
    print(factor)
    print (n,' is not a composite number!')

In [ ]:
composite(7)

n: 7
i: 1
Inside if loop
Factor: 1
i: 2
i: 3
i: 4
i: 5
i: 6
After for loop: Value of factor 1
1
7  is not a composite number!

#Write a Python code to add two matrices using list.

In [ ]:
X = [[12,7,3],    [4 ,5,6],    [7 ,8,9]]
Y = [[5,8,1],    [6,7,3],    [4,5,9]]

result = [[0,0,0],  [0,0,0],  [0,0,0]]

for i in range(len(X)):
   for j in range(len(X[0])):
       result[i][j] = X[i][j] + Y[i][j]

In [ ]:
print(result)

[[17, 15, 4], [10, 12, 9], [11, 13, 18]]

#Write a python program to check if a string is palindrome or not

In [ ]:
def palindrome(str):
  #print (len(str)/2)
  #print (int(len(str)/2))
  for i in range(0, int(len(str)/2)): 
    if str[i] != str[len(str)-i-1]:
      return "Not Palindrome"
  return "Palindrome"

In [ ]:
palindrome("malayalam")

'Palindrome'

#Write a python program to print multiplication table of a number

In [ ]:
def table(number,start,end): 
	for i in range (start, end+1): 
		print ("%d * %d = %d" % (number, i, number * i) )

In [ ]:
table(5,1,10)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
table(5,1,20)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
5 * 11 = 55
5 * 12 = 60
5 * 13 = 65
5 * 14 = 70
5 * 15 = 75
5 * 16 = 80
5 * 17 = 85
5 * 18 = 90
5 * 19 = 95
5 * 20 = 100